/* Grid container */
.grid-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
  }
  
  /* Estilo base para las tarjetas con glassmorphism */
  .grid-item {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  /* Escala al hacer hover */
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  }
  
  .grid-item video,
  .grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Glitch effect - Ajuste del título centrado */
  .project-title {
    position: relative;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
  }
  
  /* Glitch effect */
  .glitch {
    position: relative;
    color: white;
    font-size: 1.5em;
    letter-spacing: .1em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  
  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% {
      clip: rect(0, 9999px, 0, 0);
    }
    10% {
      clip: rect(20px, 9999px, 50px, 0);
    }
    20% {
      clip: rect(10px, 9999px, 40px, 0);
    }
    30% {
      clip: rect(30px, 9999px, 60px, 0);
    }
    100% {
      clip: rect(0, 9999px, 100px, 0);
    }
  }
  
  @keyframes glitch-anim2 {
    0% {
      clip: rect(20px, 9999px, 40px, 0);
    }
    20% {
      clip: rect(10px, 9999px, 50px, 0);
    }
    40% {
      clip: rect(30px, 9999px, 60px, 0);
    }
    100% {
      clip: rect(40px, 9999px, 100px, 0);
    }
  }
  
  @keyframes glitch-skew {
    0% {
      transform: skew(5deg);
    }
    100% {
      transform: skew(-5deg);
    }
  }
  
  /* Estilos de los botones de filtro */
  .filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .filter-buttons button:hover {
    background-color: #e0e0e0;
  }
  