form {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .switch {
    position: relative;
    width: 18rem;
    height: 3rem;
    margin: 0 auto;
  }
  
  .switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: 3rem;
    width: 6rem;
  }
  
  .switch label {
    color: var(--primary-text);
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
    font-size: 1rem;
    line-height: 3rem;
    display: inline-block;
    width: 6rem;
    height: 100%;
    margin: 0;
    text-align: center;
  }
  
  .switch .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    background: #fff;
    position: absolute;
    width: 6rem;
    left: 6rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease all;
  }
  
  .switch .toggle-inside {
    border-radius: 5rem;
    background: #192432;
    position: absolute;
    transition: 0.25s ease all;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  input:checked ~ .toggle-outside .toggle-inside {
    left: 0.25rem;
    background-color: #fbc02d;
  }
  
  input:not(:checked) + label:hover {
    opacity: 0.5;
  }
  